

<div class="container">

  <div class="col-md-12 jumbotron">
    <div class="text-center">
      <h1>Saved Articles</h1>
    </div>
  </div>

  <div class="col-md-12">
    {{#if Articles}}
	  {{#each Articles}}
	    <div class="card ">
	  	  <div class="card-title">
	  	    <h3>{{this.title}}</h4>
	  	  </div>
	  	  <div class="card-body">
	  	    <p> {{this.summary}} </p>
	  	    <a href= {{this.link}} target="_blank">{{this.link}}</a>

	  	    <button type="button" class="btn btn-info add-note" data-toggle="modal" data-target="#notes-modal{{this._id}}" data-id={{this._id}}>Add a Note</button>
	  	    <button type="button" class="btn btn-info delete" data-id={{this._id}}>Delete</button>
	  	  </div>
	    </div>
	  {{/each}}
    {{else}}
    <div class="card">
  	  <div class="card-body">
  	    <h3>SAVED</h3>

  	  </div>
  	</div>
    {{/if}}
  </div>
</div>











