
<div id="note-modal{{this._id}}" class="modal fade note-modal" role="dialog">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notes - {{this.title}}</h4>
      </div>
      <div class="modal-body">
        {{#if this.notes}}
          {{#each this.notes}}
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="noted"> {{this.body}} </p>
                <button type="button" class="btn delete-note data-note-id={{this._id}} data-article-id={{this.article}}>delete</button>"
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>There are no notes for this article yet.</h3>
            </div>
          </div>
        {{/if}}

      <div class="form-group">
        <p>Name: </p>
          <input class="form-control" type="text" name="name" id="note-name{{this._id}}">
      </div>
      <div class="form-group">
        <p>Note:</p>
          <textarea id="note-body{{this._id}}" class="form-contol" name="note" rows="6" cols="50"></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default savenote" data-id={{this._id}}>Save Note</button>
      </div>
    </div>
  </div>
</div>